/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* App container */
.app-container {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Text1{
  color: #333;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Navigation */
nav {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #0056b3;
}

/* Buttons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 5px;
}

button:hover {
  background-color: #0056b3;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: white;
}

/* Form Inputs */
input, select {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="number"],
select {
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Sell and Add Book page */
.form-container, .sell-container {
  margin-top: 20px;
}

.form-container input, .sell-container select {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

